/* ======================================= */
/* overwrite some settings for galleria.io */
/* ======================================= */

#galleria {
	min-height: 400px;
}

.galleria-container {
	background-color: inherit;
}

/* remove margin */
#work section div {
	margin-top: auto;
}

.images {
	background-color: inherit;
}

/* so you can see the controls  (: */
.galleria-image-nav-right, .galleria-image-nav-left {
	background-color: #FF2828;
}

/* align thumbs in center */
.galleria-thumbnails {
	margin-left: auto;
	margin-right: auto;
}
